body {
    transition: background-color 0.3s ease;
  }

.App {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}


.calc-wrapper {
  margin: auto;
  padding: 20px;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.light-mode {
  color: black;
}


.dark-mode {
  color: white;
}

.theme-toggle {
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
}

.light-mode .theme-toggle {
  background-color: black;
  color: white;
}

.dark-mode .theme-toggle {
  background-color: white;
  color: black;
}